@font-face {
  font-family: 'Fira Sans';
  src: url('/fonts/FiraSans-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --va-icon-stroke-width: 2px;
  --va-border-width: 2px;
}

.va-button,
.va-input {
  box-sizing: border-box;
}

body {
  font-family: 'Fira Sans', sans-serif;
  margin: var(--va-space-1);
}

a,
.va-button {
  color: var(--va-color-primary);
}

a:active {
  color: darkmagenta;
}
